.g5{
background-image: url("https://cdn5.vectorstock.com/i/1000x1000/29/44/green-color-geometric-mosaic-background-vector-21562944.jpg");
    height: 98vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}